{% extends "main.html.twig" %}

{% block header %}
{#NAVBAR#}
	<div class="navbar">
		<a href="http://localhost/educom-verrukkulluk/index.php?action=homepage&gerecht_id={{gerecht.gerechten.id}}">Home</a>
		<img src="assets/img/logo-v2.png" style="padding-top: 85px;"/>
		<div class="content">
			<input class="zoekveld " type="text" placeholder="Zoeken">
		</div>
		{#DROPDOWN#}
		<div class="menu-trigger">
			<i class="fa fa-bars"></i>
			<div class="dropdown">
				<img src="assets/img/logo-v2.png"/>
				<span id="nav-favoriet">Mijn Favorieten</span>
				<span id="nav-boodschappen">Mijn Boodschappen</span>
			</div>
		</div>
	</div>
{% endblock %}

{%  block content %}
            <div class="container-fluid" class="scroll-container">
                        <div class="row">
                            <div class="col-md-9">  
                                     
                             <div class="card">
                                 <h5 class="card-header">
                                     Boodschappen
                                </h5>
                            <div class="card-body">
                                <ul class="scroll-list">     
                                 {% for artikelen in data %}           											                                       
														<li>
                                                        <table class="table">
                                                        <tr>
                                                          <td>
															<img id="foto" src="{{artikelen.artikel_afbeelding}}"><br>
                                                            </td>
															<td>
                                                            <span class="artikelNaam">{{artikelen.naam_artikel}}</span><br>
																{{artikelen.omschrijving}}
															</td><br>
															<td>
																<input type="number" name="hoeveelheid_artikelen" placeholder="{{artikelen.aantal_artikel}}";>
															</td>
															<td>
																{{artikelen.prijs}}
															</td><br>
                                                            <td>
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                            </td><br>
                                                            <td>
                                                                <button class="deleteArtikel" artikelID ={{artikelen.id}} gebruikerID={{artikelen.gebruiker_id}}>
                                                             <i class="fa fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                            </table>
														</li>                                                                                      
                                   {% endfor %}
                                                        <div class="card-footer">
                                                                        Totaal {{ totalePrijs|number_format(2, ',', '') }}
                                                                            <button class="deleteArtikel" artikelID = "" gebruikerID="">
                                                             <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div> 
								</ul>									
                         </div>      
                    </div>                   
                </div>
             </div>
         </div>
{%  endblock %}