{% extends "main.html.twig" %}

{% block header %}
{#NAVBAR#}
	<div class="navbar">
		<a href="http://localhost/educom-verrukkulluk/index.php?action=homepage&gerecht_id={{gerecht.gerechten.id}}">Home</a>
		<img src="assets/img/logo-v2.png" style="padding-top: 85px;"/>
		<div class="content">
			<input class="zoekveld " type="text" placeholder="Zoeken">
		</div>
		{#DROPDOWN#}
		<div class="menu-trigger">
			<i class="fa fa-bars"></i>
			<div class="dropdown">
				<img src="assets/img/logo-v2.png"/>
				<span id="nav-favoriet">Mijn Favorieten</span>
				<span id="nav-boodschappen">Mijn Boodschappen</span>
			</div>
		</div>
	</div>
{% endblock %}

{%  block content %}
            <div class="container-fluid" class="scroll-container">
                        <div class="row">
                            <div class="col-md-9">  
                            {% for gerecht in data %}            
                             <div class="card">
                                 <h5 class="card-header">
                                     Boodschappen
                                </h5>
                            <div class="card-body">
                                <ul class="scroll-list">              
												{% for ingredient in gerecht.ingredienten %}                                        
														<li>
                                                        <table class="table">
                                                        <tr>
                                                          <td>
															<img id="foto" src="{{ingredient.artikel_afbeelding}}"><br>
                                                            </td>
															<td>
                                                            <span class="artikelNaam">{{ingredient.naam_artikel}}</span><br>
																{{ingredient.omschrijving}}
															</td><br>
															<td>
																<input type="number" name="hoeveelheid_artikelen" placeholder="{{gerecht.benodigde_hoeveelheid}}";>
															</td>
															<td>
																{{ingredient.prijs}}
															</td><br>
                                                            <td>
                                                            <i class="fa fa-check" aria-hidden="true"></i>
                                                            </td><br>
                                                            <td>
                                                             <i class="fa fa-trash"></i>
                                                            </td>
                                                        </tr>
                                                            </table>
														</li>                                                
													 {% endfor %}                              
												</ul>									
                            </div>
                            <div class="card-footer">
                                Totaal {{ gerecht.totaalprijs }}
                            </div>           
                            {% endfor %}            
                        </div>                   
                    </div>
                </div>
            </div>
{%  endblock %}