{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block header %}
	<div class="navbar">
		<img src="assets/img/logo-v2.png"/>
		<div class="menu-trigger">
			<div class="dropdown">
				<div>
					<img src="assets/img/logo-v2.png"/>
					<span>Mijn Favorieten</span>
					<span>Mijn Boodschappen</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{# nu de block content op in de main pagina vullen #}
{% block content %}


{# Loop #}
<ul class="menu">
	{% for gerecht in data %}
		<li>
			<img class="afbeelding-menu" src="{{gerecht.gerechten.afbeelding}}">

			<h4>{{ gerecht.gerechten.titel }}<h4>
					{{gerecht.gerechten.korte_omschrijving}}
					<ul>
						{% for ingr in gerecht.ingredienten %}
							<li>
								<spanDit {% if ingr.id < 2 %}style='color: #F00'{% endif %}>{{ ingr.naam }} </span> {# if #} {% if ingr.id == 3 %} <strong> is id 3!</strong> {% endif %} </li> {% endfor %} </ul> </li> {% endfor %} </ul> {# Dump #} <pre> {{ dump(data) }} </pre> {% endblock %}
