{% extends "main.html.twig" %}

{% block header %}
    {# NAVBAR #}
    <div class="navbar">
        <img src="assets/img/logo-v2.png" style="padding-top: 85px;" />
        <div class="content">
            <input class="zoekveld " type="text" placeholder="Zoeken">
        </div>
        {# DROPDOWN #}
        <div class="menu-trigger">
            <i class="fa fa-bars"></i>
            <div class="dropdown">
                <img src="assets/img/logo-v2.png" />
                <span id="nav-favoriet">Mijn Favorieten</span>
                <span id="nav-boodschappen">Mijn Boodschappen</span>
            </div>
        </div>
    </div>
{% endblock %}


{# Fill the block content in the main page #}
{% block content %}
    {# Loop through the data #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="menu">
                            {% for gerecht in data %}
                                <div class="col-md-12">
                                    <div class="card">
                                        <li>
                                            {# IMAGE #}
                                            <img class="card-img-top" src="{{ gerecht.gerechten.afbeelding }}">

                                            <div class="content">
                                                {# DATUM #}
                                                <span>Datum: {{ gerecht.gerechten.datum_toegevoegd }}</span><br>

                                                {# GEBRUIKER #}
                                                <span>User: {{ gerecht.gebruiker.gebruikersnaam }}</span><br>

                                                {# KEUKEN #}
                                                <h4>Keuken: {{ gerecht.keuken.omschrijving }} Type: {{ gerecht.type.omschrijving }}</h4>

                                                {# TYPE #}
                                                <span>Type: {{ gerecht.type.omschrijving }}</span><br>

                                                {# TITEL #}
                                                <h4>{{ gerecht.gerechten.titel }}</h4>

                                                {# OMSCHRIJVING #}
                                                <span class="omschrijving">{{ gerecht.gerechten.korte_omschrijving }}</span><br>
                                                
                                                {# WAARDERING #}
                                                <span data-ster="{{ gerecht.berekenWaardering }}">Waardering</span><br>
                                            </div>
                                        </li>

                                        <ul>
                                            <div class="info">
                                                <a href="/educom-verrukkulluk/index.php?action=detail&gerecht_id={{ gerecht.gerechten.id }}">
                                                    smullen!
                                                </a>
                                                <div class="details">
                                                    <i class="fa fa-user-friends">
                                                        4
                                                    </i>
                                                    <i class="fa fa-euro-sign">
                                                        {{ gerecht.totaalprijs }}
                                                    </i>
                                                    <i class="fa fa-fire">
                                                        {{ gerecht.totaalcalories }}
                                                    </i>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Dump the data for debugging purposes <pre>{{ dump(data) }}</pre> #}
{% endblock %}
